{% extends "layouts/base.html" %}

{% block title %} Helpline {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">

                    <!-- [ Hover-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Question and Answers</h5>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Task</th>
                                                <th class="text-center">Category</th>
                                                <th class="text-center">Question</th>
                                                <th class="text-center">Answer</th>
                                                <th class="text-center">Rating</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for qanda in qandas %}
                                            <tr>
                                                <td class="text-center">
                                                    <a class="text-primary" href="{%url 'dashboard:task_details' qanda.task%}">{{ qanda.task }}</a>
                                                </td>
                                                <td class="text-center">
                                                    {{ qanda.task.category }}
                                                </td>
                                                <td class="text-center">
                                                    {{ qanda.question }}
                                                </td>
                                                <td class="text-center">
                                                    {{ qanda.answer}}
                                                </td>
                                                <td class="text-center">
                                                    {{ qanda.rating}}
                                                </td>

                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
